{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/login.css" %}">{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
  <div class="mb-3 text-center">
    <a href="{% url 'admin:login' %}" class="btn btn-secondary">← Voltar ao Login</a>
    <a href="{% url 'home' %}" class="btn btn-outline-secondary ml-2">Página Inicial</a>
  </div>

  <form method="post">{% csrf_token %}
    <div>
      <fieldset class="module aligned">
        <div class="form-row">
          <label for="id_email" class="required">{% translate 'Email address:' %}</label>
          {{ form.email }}
          {% if form.email.errors %}{{ form.email.errors }}{% endif %}
          <p class="help">{% translate 'Enter your email address and we'll send you a link to reset your password.' %}</p>
        </div>
        <input type="submit" value="{% translate 'Reset my password' %}">
      </fieldset>
    </div>
  </form>
</div>
{% endblock %}