{% extends 'base.html' %}
{% block title %}Vagas{% endblock %}

{% block content %}
<div class="d-flex flex-column h-100">
  <h4 class="mb-2">Vagas Disponíveis</h4>

  {% if vagas %}
    <div class="list-group list-group-flush small flex-grow-1 overflow-auto mb-2">
      {% for vaga in vagas %}
        <a href="{% url 'vaga_detail' vaga.id %}" class="list-group-item list-group-item-action py-2">
          <strong>{{ vaga.titulo|truncatechars:40 }}</strong><br>
          <small class="text-muted">{{ vaga.cnpj_empresa }}</small>
        </a>
      {% endfor %}
    </div>
  {% else %}
    <p class="text-muted small">Nenhuma vaga.</p>
  {% endif %}

  
  <div style="margin-top: 20px;">
        <a href="/pcd/dashboard/" style="background-color: #6c757d; color: white; padding: 8px 16px; text-decoration: none; border-radius: 4px;">Voltar ao Dashboard</a>
    </div>

</div>
{% endblock %}